
@{
    ViewData["Title"] = "Permisos";
}

<div class="card shadow">
    <div class="card-header d-flex justify-content-between align-items-center">
        <div>
            <h6 class="mb-0 fw-bold py-2">Gestión de permisos</h6>
        </div>
        <div>
            <a asp-action="Crear" class="btn btn-primary btn-sm shadow-sm">
                <i class="fas fa-plus me-2"></i>Nuevo
            </a>
        </div>
    </div>

    <div class="card-body overflow-auto p-4" style="height: calc(100vh - 164px);">
        <div class="container">

            <table id="tblPermiso" class="table table-bordered shadow display compact">
                <thead class="table-secondary">
                    <tr>
                        @* <th>@Html.DisplayNameFor(model => model.Controlador)</th>
                        <th>@Html.DisplayNameFor(model => model.Accion)</th> *@
                        <th colspan="2"></th>
                    </tr>
                </thead>

                @foreach (var item in Model)
                {
                    <tr>
                        @* <td>@Html.DisplayFor(modelItem => item.Controlador)</td>
                        <td>@Html.DisplayFor(modelItem => item.Accion)</td> *@
                        <td>
                            <a asp-action="Editar" asp-route-id="@item.Id" class="btn btn-sm btn-primary d-inline-block">
                                <i class="fas fa-edit"></i>
                            </a>
                        </td>
                        <td>
                            <a asp-action="Eliminar" asp-route-id="@item.Id" class="btn btn-sm btn-danger">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                        </td>
                    </tr>
                }
            </table>

        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#tblPermiso').DataTable({
                language: {
                    url: '//cdn.datatables.net/plug-ins/2.3.2/i18n/es-MX.json',
                },
                paging: false,
                scrollCollapse: true, //Si hay poco contenido -> no scrollY
                scrollY: '50vh', //Scroll dinamico
                //scrollX: true //Scroll dinamico
            });
        });
    </script>
}