@model IEnumerable<PortalCOSIE.Domain.Entities.Tramites.Tramite>
@{
    ViewData["Title"] = "Tramites";
}

<div class="card shadow">
    <div class="card-header d-flex justify-content-between align-items-center">
        <div>
            <h6 class="mb-0 py-1"><i class="fas fa-clipboard-list me-2"></i>@ViewData["Title"]</h6>
        </div>
        <div>
            <a asp-action="SolicitarCTCE" class="btn btn-primary btn-sm shadow-sm">
                <i class="fas fa-plus me-2"></i>Nuevo
            </a>
        </div>
    </div>

    <div class="card-body overflow-auto px-4" style="height: calc(100vh - 164px);">

        <table id="tblTramites" class="table table-hover table-bordered compact">
            <thead class="table-secondary">
                <tr class="small">
                    <th>Id</th>
                    <th>Fecha solicitud</th>
                    <th>Tipo de tramite</th>
                    <th>Personal revisor</th>
                    <th>Estado</th>
                    <th>Fecha conclusion</th>
                    <th>Acción</th>
                </tr>
            </thead>

            @foreach (var tramite in Model)
            {
                <tr class="small">
                    <td>@tramite.Id</td>
                    <td>@tramite.FechaSolicitud</td>
                    <td>@tramite.TipoTramite.Nombre</td>
                    <td class="text-center align-content-center">
                        @if (tramite.Personal == null)
                        {
                            <span class="badge bg-secondary p-2">Sin asignar</span>
                        }
                        else
                        {
                            <span class="fw-bold text-primary p-2">@tramite.Personal.NombreCompleto()</span>
                        }
                    </td>
                    <td class="text-center align-content-center">
                        <span class="badge @tramite.EstadoTramite.ToBadgeClass() p-2">
                            <i class="@tramite.EstadoTramite.ToIconClass() me-1"></i>
                            @tramite.EstadoTramite.Nombre
                        </span>
                    </td>
                    <td>@tramite.FechaConclusion</td>
                    <td>
                        <a asp-action="Editar" asp-route-id="@tramite.Id" class="btn btn-sm btn-primary" title="Ver">
                            <i class="fas fa-eye"></i>
                        </a>
                    </td>
                </tr>
            }
        </table>

    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#tblTramites').DataTable({
                language: {
                    url: '//cdn.datatables.net/plug-ins/2.3.2/i18n/es-MX.json',
                },
                paging: false,
                scrollCollapse: true, //Si hay poco contenido -> no scrollY
                scrollY: '50vh', //Scroll dinamico
                orderCellsTop: true,
                fixedHeader: true,

                columnDefs:
                [
                    {
                        targets: 0,
                        width: "1%"
                    },
                    {
                        targets: 1,
                        width: "15%"
                    },
                    {
                        targets: 3,
                        width: "20%"
                    },
                    {
                        targets: 4,
                        width: "5%",
                    },
                    {
                        targets: 5,
                        width: "15%",
                    },
                    {
                        targets: 6,
                        width: "1%",
                        className: "text-center",
                        orderable: false
                    }
                ]
            });
        });
    </script>
}