@model IEnumerable<PortalCOSIE.Domain.Entities.Tramite>
@{
    ViewData["Title"] = "Tramites";
}

<div class="card shadow">
    <div class="card-header d-flex justify-content-between align-items-center">
        <div>
            <h6 class="mb-0 py-1">@ViewData["Title"]</h6>
        </div>
        <div>
            <a asp-action="SolicitarCTE" class="btn btn-primary btn-sm shadow-sm">
                <i class="fas fa-plus me-2"></i>Nuevo
            </a>
        </div>
    </div>

    <div class="card-body overflow-auto p-4" style="height: calc(100vh - 164px);">
        <div class="container">

            <table id="tblTramites" class="table table-bordered shadow display compact">
                <thead class="table-secondary">
                    <tr class="small">
                        <th>Id</th>
                        <th>Fecha solicitud</th>
                        <th>Personal revisor</th>
                        <th>Estado</th>
                        <th>Fecha conclusion</th>
                        <th>Acción</th>
                    </tr>
                </thead>

                @foreach (var item in Model)
                {
                    <tr class="small">
                        <td>@item.Id</td>
                        <td>@item.FechaSolicitud</td>
                        <td>@item.PersonalId</td>
                        <td>@item.EstadoId</td>
                        <td>@item.FechaConclusion</td>
                        <td>
                            <a asp-action="Editar" asp-route-id="@item.Id" class="btn btn-sm btn-primary d-inline-block">
                                <i class="fas fa-edit"></i>
                            </a>
                        </td>
                        <td>
                            <a asp-action="Eliminar" asp-route-id="@item.Id" class="btn btn-sm btn-danger">
                                <i class="fas fa-eye-slash"></i>
                            </a>
                        </td>
                    </tr>
                }
            </table>

        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#tblTramites').DataTable({
                language: {
                    url: '//cdn.datatables.net/plug-ins/2.3.2/i18n/es-MX.json',
                },
                paging: false,
                scrollCollapse: true, //Si hay poco contenido -> no scrollY
                scrollY: '50vh', //Scroll dinamico
                columnDefs:
                [
                    {
                        targets: 0,
                        width: "1%"
                    },
                    {
                        targets: 1,
                        width: "1%"
                    },
                    {
                        targets: 3,
                        width: "1%"
                    },
                    {
                        targets: 4,
                        width: "1%",
                        orderable: false
                    },
                    {
                        targets: 5,
                        width: "95px",
                        className: "text-center",
                        orderable: false
                    }
                ]
            });
        });
    </script>
}