@model PortalCOSIE.Application.DTO.Tramites.SolicitudCtceDTO
@{
    ViewData["Title"] = "Dictamen interno (CTCE)";
}

<div class="card shadow">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h6 class="mb-0 py-1"><i class="fas fa-file me-2"></i>@ViewData["Title"]</h6>
        <a asp-action="Index" class="btn btn-outline-secondary btn-sm">
            <i class="fas fa-arrow-left me-2"></i>Volver
        </a>
    </div>

    <div class="card-body overflow-auto p-4" style="height: calc(100vh - 164px);">
        <form id="formSolicitud" asp-action="SolicitarCTCE" enctype="multipart/form-data" method="post">

            <!-- === DATOS GENERALES === -->
            <fieldset class="border rounded pb-3 px-3 mb-3">
                <legend class="float-none w-auto px-2 text-primary fs-6 fw-bold">
                    <i class="fas fa-user-edit me-2"></i>Datos generales del solicitante
                </legend>

                <div class="row g-4">
                    <div class="col-md-8">
                        <div class="form-floating">
                            <textarea asp-for="Peticion" class="form-control" style="height: 100px" required></textarea>
                            <label asp-for="Peticion">Describa claramente su petición</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="h-100 d-flex align-items-center p-3 border rounded bg-light">
                            <div class="form-check form-switch w-100">
                                <input asp-for="TieneDictamenesAnteriores" class="form-check-input" type="checkbox" role="switch">
                                <label class="form-check-label fw-bold text-secondary ms-2" for="TieneDictamenesAnteriores">
                                    ¿Tiene dictámenes anteriores?
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>

            <div class="row g-4">
                <!-- === UNIDADES REPROBADAS === -->
                <div class="col">
                    <fieldset class="border rounded px-3">
                        <legend class="float-none w-auto px-2 text-primary fs-6 fw-bold">
                            <i class="fas fa-book me-2"></i>Unidades de aprendizaje reprobadas
                        </legend>
                        <div class="text-end">
                            <button id="btnAgregarFila" type="button" class="btn btn-primary btn-sm mb-2">
                                <i class="fas fa-plus me-2"></i>Agregar
                            </button>
                        </div>
                        <div class="table-responsive">
                            <table class="table small" id="tblUnidades">
                                <thead class="table-light table-bordered">
                                    <tr class="small">
                                        <th style="width: 50%">Unidad de aprendizaje</th>
                                        <th>Cuándo cursó</th>
                                        <th>Cuándo recursó</th>
                                        <th style="width: 50px; text-align: center"><i class="fas fa-trash"></i></th>
                                    </tr>
                                </thead>
                                <tbody id="tbody-unidades">
                                    <!-- Filas dinámicas se agregarán aquí -->
                                </tbody>
                            </table>
                        </div>
                        <div id="empty-state" class="text-center py-4 mb-3 text-muted small bg-light rounded">
                            No ha agregado materias reprobadas aún.
                        </div>
                    </fieldset>
                </div>
                <!-- === DOCUMENTOS === -->
                <div class="col">
                    <fieldset class="border rounded pb-3 px-3 mb-3">
                        <legend class="float-none w-auto px-2 text-primary fs-6 fw-bold">
                            <i class="fas fa-file-upload me-2"></i>Documentos
                            <span class="badge bg-light text-secondary border fw-bold" >
                                PDF Máx 5MB por archivo
                            </span>
                        </legend>

                        <div class="row mb-3">
                            <div class="col-lg-6">
                                <label asp-for="CartaExposicionMotivos" class="form-label">Carta exposición de motivos</label>
                                <input asp-for="CartaExposicionMotivos" type="file" class="form-control form-control-sm" accept=".pdf" required />
                                @* <span asp-validation-for="CartaExposicionMotivos" class="text-danger small"></span> *@
                            </div>
                            <div class="col-lg-6">
                                <label asp-for="Identificacion" class="form-label">Identificación</label>
                                <input asp-for="Identificacion" type="file" class="form-control form-control-sm" accept=".pdf" required />
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-lg-6">
                                <label asp-for="BoletaGlobal" class="form-label">Boleta global</label>
                                <input asp-for="BoletaGlobal" type="file" class="form-control form-control-sm" accept=".pdf" required />
                            </div>
                            <div class="col-lg-6">
                                <label asp-for="Probatorios" class="form-label">Probatorios</label>
                                <input asp-for="Probatorios" type="file" class="form-control form-control-sm" accept=".pdf" required />
                            </div>
                        </div>
                    </fieldset>
                    <p class="text-muted small">
                        <i>
                            Que enterado bajo protesta de decir la verdad que lo asentado en esta solicitud y sus anexos son
                            verdad, y que conozco las sanciones reglamentarias a que me hago acreedor en caso de incurrir en alguna falta.
                        </i>
                    </p>
                    <!-- BOTÓN FINAL -->
                    <div class="text-end">
                        <button id="btnSubmit" type="submit" class="btn btn-primary">
                            <i class="fas fa-paper-plane me-2"></i>Solicitar trámite
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<template id="rowTemplate">
    <tr class="align-middle">
        <input type="hidden" name="UnidadesReprobadas.Index" value="{INDEX}" />

        <td>
            <select name="UnidadesReprobadas[{INDEX}].UnidadId" class="form-select form-select-sm border-0 bg-light" required>
                <option value="">Seleccione unidad...</option>
                @foreach (var item in (SelectList)ViewBag.Unidades)
                {
                    <option value="@item.Value">@item.Text</option>
                }
            </select>
        </td>
        <td>
            <select name="UnidadesReprobadas[{INDEX}].PeriodoCursado" class="form-select form-select-sm border-0 bg-light text-center" required>
                <option value="">- Periodo -</option>
                @foreach (var item in (SelectList)ViewBag.Periodos)
                {
                    <option value="@item.Text">@item.Text</option>
                }
            </select>
        </td>
        <td>
            <select name="UnidadesReprobadas[{INDEX}].PeriodoRecursado" class="form-select form-select-sm border-0 bg-light text-center" required>
                <option value="">- Periodo -</option>
                @foreach (var item in (SelectList)ViewBag.Periodos)
                {
                    <option value="@item.Text">@item.Text</option>
                }
            </select>
        </td>
        <td class="text-center">
            <button type="button" class="btn btn-link text-danger p-0 btn-eliminar" title="Quitar">
                <i class="fas fa-trash-alt"></i>
            </button>
        </td>
    </tr>
</template>



@section Scripts {
    <script>
        $(document).ready(function () {
            const form = document.getElementById("formSolicitud");
            const submitBtn = form.querySelector('button[type="submit"]');
            const boton = bloqueadorBoton(submitBtn);

            form.addEventListener("submit", async (e) => {
                e.preventDefault();
                boton.bloquear();

                try {
                    const url = form.getAttribute("action");
                    const formData = new FormData(form);
                    const data = await executeFetch(url, "POST", formData);
                    showGlobalModal("success", data.message, {
                        redirectUrl: '/Tramite',
                    });
                } catch (error) {
                    showGlobalModal("error", error.message, {
                        onClose: () => boton.restaurar()
                    });
                }
            });

            // === LÓGICA DE TABLA DINÁMICA ===
            const btnAgregar = document.getElementById("btnAgregarFila");
            const tbody = document.getElementById("tbody-unidades");
            const emptyState = document.getElementById("empty-state");
            const template = document.getElementById("rowTemplate").innerHTML;

            // Usamos un contador que siempre incrementa para garantizar índices únicos
            // No importa si los números no son seguidos (ej: 1, 5, 8) gracias al input .Index
            let rowIndex = 0;

            const toggleEmptyState = () => {
                if(tbody.children.length === 0) emptyState.style.display = 'block';
                else emptyState.style.display = 'none';
            };

            btnAgregar.addEventListener("click", function () {
                // Reemplazamos todas las ocurrencias de {INDEX}
                let newRowHtml = template.replaceAll("{INDEX}", rowIndex);

                tbody.insertAdjacentHTML('beforeend', newRowHtml);

                rowIndex++; // Incrementamos siempre, nunca disminuimos
                toggleEmptyState();
            });

            tbody.addEventListener("click", function (e) {
                if (e.target.closest(".btn-eliminar")) {
                    e.target.closest("tr").remove();
                    toggleEmptyState();
                    // NOTA: No necesitamos re-indexar gracias a UnidadesReprobadas.Index
                }
            });
        });
    </script>
}

