@model IEnumerable<PortalCOSIE.Domain.Entities.Bitacoras.EntradaBitacora>
@{
    ViewData["Title"] = "Bitácora del portal";
}

<div class="card shadow">
    <div class="card-header d-flex justify-content-between align-items-center">
        <div>
            <h6 class="mb-0 py-1"><i class="fas fa-clipboard-list me-2"></i>@ViewData["Title"]</h6>
        </div>
    </div>

    <div class="card-body overflow-auto px-4" style="height: calc(100vh - 164px);">

        <table id="tblBitacora" class="table table-hover table-bordered compact">
            <thead class="table-light table-bordered">
                <tr class="small">
                    <th class="small">Id</th>
                    <th class="small">Acción</th>
                    <th class="small">Entidad</th>
                    <th class="small">Entidad ID</th>
                    <th class="small">Valor nuevo</th>
                    <th class="small">Usuario</th>
                    <th class="small">IP</th>
                    <th class="small">UserAgent</th>
                    <th class="small">Fecha registro</th>
                </tr>
                <tr class="small filters">
                    <th></th>
                    @for (int i = 0; i < 8; i++)
                    {
                        <th><input type="text" class="form-control form-control-sm" placeholder="Buscar" /></th>
                    }
            </thead>
            <tbody>

                @foreach (var bitacora in Model)
                {
                    <tr class="small">
                        <td class="small fw-bold">@bitacora.Id</td>
                        <td class="small">@bitacora.Accion</td>
                        <td class="small">@bitacora.Entidad</td>
                        <td class="small">@bitacora.EntidadId</td>
                        <td class="small text-wrap">@bitacora.ValorNuevo</td>
                        <td class="small">@bitacora.IdentityUserId</td>
                        <td class="small">@bitacora.IpAddress</td>
                        <td class="small">@bitacora.UserAgent</td>
                        <td class="small">@bitacora.FechaRegistro</td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            var table = $('#tblBitacora').DataTable({
                language: {
                    url: '//cdn.datatables.net/plug-ins/2.3.2/i18n/es-MX.json',
                },
                paging: true,
                scrollX: false,
                scrollY: 'calc(100vh - 430px)',
                orderCellsTop: true,
                "order": [],
                autoWidth: false
            });

            // Activar búsqueda por columna
            $('#tblBitacora thead tr.filters th').each(function (i) {
                $('input', this).on('keyup change', function () {
                    if (table.column(i).search() !== this.value) {
                        table.column(i).search(this.value).draw();
                    }
                });
            });

        });
    </script>

}
