@model IEnumerable<PortalCOSIE.Domain.Entities.EntradaBitacora>
@{
    ViewData["Title"] = "Bitácora del portal";
}

<div class="card shadow">
    <div class="card-header d-flex justify-content-between align-items-center">
        <div>
            <h6 class="mb-0 py-1"><i class="fas fa-clipboard-list me-2"></i>@ViewData["Title"]</h6>
        </div>
    </div>

    <div class="card-body overflow-auto p-4" style="height: calc(100vh - 164px);">

        <table id="tblBitacora" class="table table-hover table-bordered">
            <thead class="table-secondary">
                <tr class="small">
                    <th>Id</th>
                    <th>Acción</th>
                    <th>Entidad</th>
                    <th>Entidad ID</th>
                    <th>Valor nuevo</th>
                    <th>Usuario</th>
                    <th>IP</th>
                    <th>UserAgent</th>
                    <th>Fecha registro</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var bitacora in Model)
                {
                    <tr class="small">
                        <td>@bitacora.Id</td>
                        <td>@bitacora.Accion</td>
                        <td>@bitacora.Entidad</td>
                        <td>@bitacora.EntidadId</td>
                        <td>@bitacora.ValorNuevo</td>
                        <td>@bitacora.IdentityUserId</td>
                        <td>@bitacora.IpAddress</td>
                        <td>@bitacora.UserAgent</td>
                        <td>@bitacora.FechaRegistro</td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#tblBitacora').DataTable({
                language: {
                    url: '//cdn.datatables.net/plug-ins/2.3.2/i18n/es-MX.json',
                },
                paging: false,
                scrollCollapse: true,
                scrollY: '50vh',
                columnDefs:
                [
                    {
                        targets: 0,
                        width: "1%"
                    },
                    {
                        targets: 3,
                        width: "1%"
                    },
                    {
                        targets: 2,
                        width: "1%"
                    }
                ]
            });

        });
    </script>
}
