@{
    ViewData["Title"] = "Dashboard";
}

<div class="dashboard">
    <!-- Sección de Tarjetas contables -->
    <div class="row g-4 mb-4">
        <div class="col-lg-3 col-md-6">
            <chart-card title="Solicitud CTCE por carrera"
                        chart-id="chartCarreras"
                        loader-id="loaderCarreras"
                        api-url="@Url.Action("SolicitudesPorCarrera")"
                        chart-type="doughnut"
                        filtro1-items="@ViewBag.Periodos"
                        filtro1-name="periodo">
            </chart-card>
        </div>
        <div class="col-lg-3 col-md-6">
            <chart-card title="Estado tramite CTCE"
                        chart-id="chartEstadoTramiteCTCE"
                        loader-id="loaderEstadoTramiteCTCE"
                        api-url="@Url.Action("ObtenerEstadoTramitesCTCE")"
                        chart-type="doughnut"
                        filtro1-items="ViewBag.Periodos"
                        filtro1-name="periodo">
            </chart-card>
        </div>
        <div class="col-lg-3 col-md-6">
            <chart-card title="Estado documento CTCE"
                        chart-id="chartEstadoDocumentoCTCE"
                        loader-id="loaderEstadoDocumentoCTCE"
                        api-url="@Url.Action("ObtenerEstadoDocumentosCTCE")"
                        chart-type="doughnut"
                        filtro1-items="ViewBag.Periodos"
                        filtro1-name="periodo">
            </chart-card>
        </div>
        <div class="col-lg-3 col-md-6">
            <chart-card title="Alumnos"
                        chart-id="chartAlumnos"
                        loader-id="loaderAlumnos"
                        api-url="@Url.Action("ObtenerRolesAlumnos")"
                        chart-type="doughnut">
            </chart-card>
        </div>
    </div>

    <!-- Gráficos Principales -->
    <div class="row g-4">
        <div class="col-lg-12">
            <partial name="_MasReprobadasPorCarrera" />
        </div>
    </div>

</div>
