@model IEnumerable<PortalCOSIE.Application.DTO.Usuario.AlumnoCompletoDTO>
@{
    ViewData["Title"] = "Gestión de alumnos";
}
<style>
    .editable-cell {
        cursor: pointer;
    }

        .editable-cell:hover {
            color: #0d6efd;
        }

    .toggle-role-btn:hover .badge {
        transform: scale(1.05);
        transition: transform 0.2s ease;
    }

    .badge-role {
        transition: all 0.2s;
    }
</style>

<div class="card shadow">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h6 class="mb-0 py-1">@ViewData["Title"]</h6>
        <button class="btn btn-primary btn-sm"
                data-bs-toggle="modal"
                data-bs-target="#modalAlumno"
                data-mode="create">
            <i class="fas fa-plus me-2"></i>Crear
        </button>
    </div>
    <div class="card-body overflow-auto p-4" style="height: calc(100vh - 164px);">
        <div class="table-responsive">
            <table id="tblAlumnos" class="table table-hover table-bordered">
                <thead class="table-secondary">
                    <tr class="small">
                        <th>No. Boleta</th>
                        <th>Nombre</th>
                        <th>Apellido paterno</th>
                        <th>Apellido materno</th>
                        <th>Carrera</th>
                        <th>Periodo ingreso</th>
                        <th>Correo</th>
                        <th>Celular</th>
                        <th>Rol</th>
                        <th>Acción</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var alumno in Model)
                    {
                        <tr class="small">
                            <td>@alumno.NumeroBoleta</td>
                            <td>@alumno.Nombre</td>
                            <td>@alumno.ApellidoPaterno</td>
                            <td>@alumno.ApellidoMaterno</td>
                            <td class="@(alumno.Carrera.IsDeleted ? "text-danger text-decoration-line-through" : "")">
                                @alumno.Carrera.Nombre
                            </td>
                            <td>@alumno.PeriodoIngreso</td>
                            <td class="editable-cell"
                                title="Editar"
                                data-bs-toggle="modal"
                                data-bs-target="#modalCorreo"
                                data-id="@alumno.IdentityUserId"
                                data-correo="@alumno.Correo">
                                @alumno.Correo
                            </td>
                            <td class="editable-cell"
                                title="Editar"
                                data-bs-toggle="modal"
                                data-bs-target="#modalCelular"
                                data-id="@alumno.IdentityUserId"
                                data-celular="@alumno.Celular">
                                @alumno.Celular
                            </td>
                            <td class="text-center">
                                <button type="button"
                                        class="btn btn-link p-0 border-0 bg-transparent toggle-role-btn"
                                        data-bs-toggle="modal"
                                        data-bs-target="#modalToggle"
                                        data-user-id="@alumno.IdentityUserId"
                                        data-current-role="@(alumno.Rol ?? "Inactivo")"
                                        data-role-type="Alumno"
                                        title="Editar">
                                    <span class="badge @(string.IsNullOrEmpty(alumno.Rol) ? "bg-danger" : "bg-success") badge-role">
                                        @(string.IsNullOrEmpty(alumno.Rol) ? "Inactivo" : alumno.Rol)
                                    </span>
                                </button>
                            </td>
                            <td>
                                <button class="btn btn-sm btn-outline-primary"
                                        data-bs-toggle="modal"
                                        data-bs-target="#modalAlumno"
                                        data-mode="edit"
                                        data-userid="@alumno.IdentityUserId"
                                        data-nombre="@alumno.Nombre"
                                        data-apellidopaterno="@alumno.ApellidoPaterno"
                                        data-apellidomaterno="@alumno.ApellidoMaterno"
                                        data-numeroboleta="@alumno.NumeroBoleta"
                                        data-carreraid="@alumno.Carrera.Id"
                                        data-periodoingreso="@alumno.PeriodoIngreso"
                                        title="Editar">
                                    <i class="fas fa-edit"></i>
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<partial name="_ModalAlumno" />
<partial name="_ModalCorreo" />
<partial name="_ModalCelular" />
<partial name="_ModalToggle" />

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#tblAlumnos').DataTable({
                language: {
                    url: '//cdn.datatables.net/plug-ins/2.3.2/i18n/es-MX.json',
                },
                paging: false,
                scrollCollapse: true,
                scrollY: '50vh',
                columnDefs:
                [
                    {
                        targets: 0,
                        width: "1%"
                    },
                    {
                        targets: 4,
                        width: "1%"
                    },
                    {
                        targets: 5,
                        width: "1%"
                    },
                    {
                        targets: 7,
                        width: "1%",
                        orderable: false
                    },
                    {
                        targets: 8,
                        width: "1%",
                        orderable: false
                    },
                    {
                        targets: 9,
                        width: "95px",
                        className: "text-center",
                        orderable: false
                    }
                ]
            });

            inicializarModalAlumno();
            inicializarModalCorreo();
            inicializarModalCelular();
            inicializarModalToggle();
        });
    </script>
}