@model IEnumerable<PortalCOSIE.Domain.Entities.Tramites.EstadoTramite>

<table id="tblEstados" class="table table-hover">
    <thead class="table-light table-bordered">
        <tr class="small">
            <th>Id</th>
            <th>Nombre</th>
            <th>Esatus</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var estado in Model)
        {
            <tr class="@(estado.IsDeleted ? "table-danger text-muted opacity-75" : "") small">
                <td class="fw-bold">@estado.Id</td>
                <td>@estado.Nombre</td>
                <td>
                    <span class="badge @(estado.IsDeleted ? "bg-danger" : "bg-success") badge-role">
                        @(estado.IsDeleted ? "Inactivo" : "Activo")
                    </span>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    $(document).ready(function () {
        // Configuración de DataTable
        $('#tblEstados').DataTable({
            language: {
                url: '//cdn.datatables.net/plug-ins/2.3.2/i18n/es-MX.json',
            },
            searching: false,
            paging: false,
            scrollCollapse: true,
            scrollY: 'calc(100vh - 445px)',
            columnDefs:
            [
                { targets: 0, width: "1%" },
                { targets: 2, width: "1%", className: "text-center"}
            ]
        });
    });
</script>
