@model IEnumerable<PortalCOSIE.Domain.Entities.TipoTramite>

<div class="table-responsive" style="max-height: 400px; overflow-y: auto;">
    <table id="tblTipo" class="table table-hover table-bordered">
        <thead class="table-secondary">
            <tr class="small">
                <th>Id</th>
                <th>Nombre</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var tipo in Model)
            {
                <tr class="small">
                    <td>@tipo.Id</td>
                    <td>@tipo.Nombre</td>
                    <td>
                        <button type="button"
                                class="btn btn-sm btn-outline-primary generic-edit"
                                title="Editar"
                                data-title="Editar tipo tramite"
                                data-action="@Url.Action("EditarTipo", "Configuracion")"
                                data-id="@tipo.Id"
                                data-nombre="@tipo.Nombre"
                                data-placeholder="Nombre del tramite"
                                data-icon="fas fa-tasks">
                            <i class="fas fa-edit"></i>
                        </button>
                        <button type="button"
                                class="btn btn-sm btn-outline-danger generic-delete"
                                title="Desactivar"
                                data-action="@Url.Action("DesactivarTipo", "Configuracion")"
                                data-id="@tipo.Id"
                                data-name="@tipo.Nombre"
                                data-entity="tipo">
                            <i class="fas fa-ban"></i>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    $(document).ready(function () {
        // Configuración de DataTable
        $('#tblTipo').DataTable({
            language: {
                url: '//cdn.datatables.net/plug-ins/2.3.2/i18n/es-MX.json',
            },
            searching: false,
            paging: false,
            scrollCollapse: true,
            scrollY: '35vh',
            columnDefs:
            [
                {
                    targets: 0,
                    width: "1%"
                },
                {
                    targets: 2,
                    width: "90px",
                    className: "text-center",
                    orderable: false
                }
            ]
        });
    });
</script>